<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="mvvmClient.Properties.Settings.mietdatenbankConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=mietdatenbank;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMietservice" />
        <binding name="BasicHttpBinding_IMietservice1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10352/WcfNinjectBaumaschinenmietService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMietservice"
        contract="Client.L2.Proxy.ClientProxy.IMietservice" name="BasicHttpBinding_IMietservice" />
      <endpoint address="http://localhost:10352/WcfNinjectBaumaschinenmietService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMietservice1"
        contract="ServiceDataSource.IMietservice" name="BasicHttpBinding_IMietservice1" />
    </client>
  </system.serviceModel>

</configuration>