<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="MietmaschinendatenbankModelContainer"
         connectionString="metadata=K:\C#\Baumaschinenverleih\Software\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.csdl|         
                                    K:\C#\Baumaschinenverleih\Software\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.ssdl|         
                                    K:\C#\Baumaschinenverleih\Software\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.msl;         
                                    provider=System.Data.SqlClient;
                                    provider connection string=&quot;
                                    data source=.\sqlexpress;
                                    initial catalog=mietdatenbank;
                                    integrated security=True;
                                    MultipleActiveResultSets=True;
                                    App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>