<?xml version="1.0"?>
<!--
  Weitere Informationen zum Konfigurieren der ASP.NET-Anwendung finden Sie unter
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add 
      name="MietmaschinendatenbankModelContainer" 
      connectionString="metadata=  
      E:\Projekte\Git\CSHARP_MVVM_SQL_WCF_MachineryRentalService\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.ssdl| 
      E:\Projekte\Git\CSHARP_MVVM_SQL_WCF_MachineryRentalService\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.ssdl|         
      E:\Projekte\Git\CSHARP_MVVM_SQL_WCF_MachineryRentalService\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.msl;         
      provider=System.Data.SqlClient;
      provider connection string=&quot;
      data source=.\sqlexpress;
      initial catalog=mietdatenbank;
      integrated security=True;
      MultipleActiveResultSets=True;
      App=EntityFramework&quot;" 
      providerName="System.Data.EntityClient" />    
  </connectionStrings>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für das <httpRuntime>-Tag festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
          <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <services>
      <!--Optional: Explizite Dienstkonfiguration für verschlüsselte Kommunikation-->
      <service name="Server.L4.Dienste.Mietservice">
        <endpoint address="" binding="wsHttpBinding" contract="Crosscutting.Dienste.Shared.Contracts.IMietservice"/>
        <endpoint address="net.tcp://localhost:9001/test/mex" binding="mexTcpBinding" contract="Crosscutting.Dienste.Shared.Contracts.IMietservice"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <!--Quotaeinstellungen (hier angegeben sind die Standardwerte) -->
        <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxNameTableCharCount="16384" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <!--Drosselungseinstellungen (hier angegeben sind die Standardwerte für einen Prozessor-->
          <serviceThrottling maxConcurrentSessions="10" maxConcurrentCalls="10" maxConcurrentInstances="10"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>