<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="MietmaschinendatenbankModelContainer" 
         connectionString="metadata=E:\Projekte\Git\CSHARP_MVVM_SQL_WCF_MachineryRentalService\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.csdl|         
                                    E:\Projekte\Git\CSHARP_MVVM_SQL_WCF_MachineryRentalService\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.ssdl|         
                                    E:\Projekte\Git\CSHARP_MVVM_SQL_WCF_MachineryRentalService\CrossCutting\Mietmaschinendatenbank_DataClasses\bin\Debug\MietmaschinendatenbankModel.msl;         
                                    provider=System.Data.SqlClient;
                                    provider connection string=&quot;
                                    data source=.\sqlexpress;
                                    initial catalog=mietdatenbank;
                                    integrated security=True;
                                    MultipleActiveResultSets=True;
                                    App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>